/* Rest */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	appearance: none;
}

input {
	border: none;
	outline: none;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

/* Custom styles */
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
	padding: 2rem 0;
	height: 90vh;
	width: 90vw;
	margin: 0 auto;
}

.input-container {
	display: flex;
	justify-content: center;
	margin-block-end: 2rem;
}

input {
	font-size: 16px;
	font-size: max(16px, 1em);
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid #6d9dc5;
	border-radius: 4px;
	width: 60%;
	line-height: 1;
	height: 3rem;
	transition: 180ms box-shadow ease-in-out;
}

input:focus {
	outline: 3px solid transparent;
	border-color: #119da4;
	box-shadow: 0px 0px 3px 3px rgba(17, 157, 164, 0.5);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(17, 157, 164, 0.5);
	-moz-box-shadow: 0px 0px 3px 4px rgba(17, 157, 164, 0.5);
}

.gallery {
	display: grid;
	padding: 0;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 23ch), 1fr));
	gap: 2rem;
	justify-items: center;
	width: 100%;
}

.gallery-img {
	width: 100%;
}

.gallery-img img {
	object-fit: contain;
	border-radius: 0.5rem;
	transition: 300ms all ease-in-out;
	margin: 0 auto;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
}

.gallery-img img:hover {
	box-shadow: 0px 0px 3px 3px rgba(109, 157, 197, 1);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(109, 157, 197, 1);
	-moz-box-shadow: 0px 0px 3px 4px rgba(109, 157, 197, 1);
	transform: scale(1.02);
}
